body {
  margin: 0;
  overflow: hidden;
  background: #dbeefc;
  position: relative;
  /* z-index: -1; */
}
html {
  scroll-behavior: smooth;
}

/* =====================================
   EKRAN  - METRO
===================================== */

.metro-screen {
  position: relative;
  width: 99%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

/* фон */
.metro-bg {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Кнопка назад */
.back-btn {
  position: absolute;

  top: 20px;
  left: 20px;

  padding: 14px 24px;

  border: none;
  border-radius: 20px;

  background: #fffaf0;

  font-size: 1.2rem;
  font-weight: 700;

  cursor: pointer;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  transition: 0.3s;
}

.back-btn:hover {
  transform: translateY(-2px);
}
/* Заголовок линии */

.metro-header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 18px 35px;
  background: #6f47b8;
  color: white;
  border-radius: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.metro-icon {
  font-size: 2rem;
}

.metro-title {
  font-size: 2.4rem;
  font-weight: 800;
}
/* Блок совы */
.metro-guide {
  position: absolute;
  top: 36.5%;
  left: 27%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.metro-message {
  width: 480px;
  background: #fffaf0;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.metro-message h2 {
  margin-top: 0;
  color: #3f2b78;
}

.metro-message p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.target-class {
  margin-top: 20px;
  padding: 15px;
  background: #ece3ff;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.metro-owl {
  width: 220px;
}
/* Правая подсказка */
.metro-help {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 260px;
  background: #fffaf0;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.help-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.help-text {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* Левая колонка районов */
.district-sidebar {
  position: absolute;
  top: 110px;
  left: 10px;

  width: 300px;
  height: auto;

  background: rgba(255, 255, 255, 0.95);

  border-radius: 25px;
  padding: 5px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.sidebar-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px;
}
/* Кнопки районов */
.sidebar-district {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* gap:9px; */
  /* padding:12px; */
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
}

.sidebar-district.completed {
  background: #e9f8e9;
}

.sidebar-district.active {
  background: #f4e9ff;
  border: 3px solid #7f58d6;
  width: 93%;
}

.sidebar-district.locked {
  background: #efefef;
  opacity: 0.7;
  width: 93%;
}

/*  */
/* Панель линии метро */
/*  */
.metro-line {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 20px;
}

.metro-line::before {
  content: "";

  position: absolute;

  left: 0;
  right: 0;
  top: 36%;

  height: 8px;

  background: #6f3ec4;

  border-radius: 20px;

  z-index: 1;
}

.station {
  position: relative;
  background: none;
  border: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 120px;
  gap: 7%;
  cursor: pointer;

  z-index: 2;
}
.stations-panel {
  position: absolute;

  left: 60%;
  bottom: 6%;

  transform: translateX(-50%);

  width: 70%;
  min-height: 220px;

  background: #fffaf0;

  border-radius: 35px;
  padding: 10px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  z-index: 20;
}
.station-class {
  font-size: 1rem;
  font-weight: 600;
  color: #2d2468;
  margin-bottom: 10px;
}
/* Галочка для пройденных: */
.station-tail {
  width: 4px;
  height: 28px;

  background: #bcbcbc;

  border-radius: 10px;

  margin-top: 6px;
}
.station-label {
  margin-top: 10px;

  font-size: 1rem;
  font-weight: 700;

  text-align: center;

  color: #444;
}
.station-check {
  width: 30px;
  height: 30px;

  border-radius: 50%;

  background: #1b8b2c;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 700;

  margin-top: 8px;
}
/* Для текущей станции: */
.station.current .station-label {
  color: #31256c;
  font-size: 1.1rem;
}
.station.locked .station-label {
  color: #777;
}
/* Для будущих станций: */

.station.locked .station-tail {
  background: #cfcfcf;
}
/* Заголовок */
.stations-panel h3 {
  text-align: center;
  margin: 0 0 15px;

  color: #5c3b99;

  font-size: 1.6rem;
  font-weight: 700;
}
/* Круг станции: */
.station-number {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.5rem;

  margin-bottom: 8px;
}
/* Зеленые: */
.station.completed .station-number {
  background: #33c833;
  border: 6px solid #177c1f;
  color: white;
}
/* Текущая: */
.station.current .station-number {
  background: #6f3ec4;
  border: 6px solid #ffcf42;
  color: white;

  box-shadow: 0 0 15px rgba(255, 207, 66, 0.8);
}
/* Закрытые: */
.station.locked .station-number {
  background: #d9d9d9;
  border: 6px solid #c8c8c8;
  color: #777;
}
/* Подписи: */
.station-label {
  margin-top: 12px;
  margin-bottom: 2%;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

/*  */
/* оформлением левой панели */
/*  */

.city-logo {
  width: 90%;
  display: block;
  margin: 20px auto 25px;
}
/* Общий стиль района */
.district-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 2px;
  border-bottom: 2px solid #dcdcdc;
}
/* Иконка здания */
.district-icon {
  width: 55px;
  flex-shrink: 0;
}
/* Заголовок района */
.district-info h4 {
  margin: 0px;
  font-size: 1.15rem;
  font-weight: 600;
}

.district-info {
  margin: 0;
  width: 70%;
}
/* Описание */

.district-info p {
  margin: 0;
  line-height: 1.2;
  font-size: 0.95rem;
}

/* Цвета заголовков */
.liczby h4 {
  color: #228b22;
}
.district-line_green {
  border: 1px solid green;
  margin-bottom: 2%;
}
.district-line_blue {
  border: 1px solid #0a5ecf;
  margin-bottom: 2%;
}

.dzialania h4 {
  color: #0a5ecf;
}
.district-line_oranz {
  border: 1px solid #d56700;
  margin-bottom: 2%;
}

.wielkosci h4 {
  color: #d56700;
}

.district-line_violet {
  border: 1px solid #292285;
  margin-bottom: 2%;
}
.ulamki h4 {
  color: #251f73;
}

.district-line_biruza {
  border: 1px solid #006f75;
  margin-bottom: 2%;
}
.geometria h4 {
  color: #006f75;
}

.district-line_yellow {
  border: 1px solid #b78400;
  margin-bottom: 2%;
}
.dane h4 {
  color: #b78400;
}

.district-line_red {
  border: 1px solid #c13022;
  margin-bottom: 42%;
}
.algebra h4 {
  color: #c13022;
}
/* Галочки справа */
.district-status.done {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  background: #17a729;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;

  margin-left: auto;
  margin-right: 5px;
}
/* Активный район */
.district-item.active {
  border: 3px solid #7a53d1;

  border-radius: 20px;

  background: white;

  box-shadow: 0 5px 15px rgba(122, 83, 209, 0.2);
}

/*  */
/* end оформлением левой панели */
/*  */

/*  */
.swietnie {
  position: absolute;
  top: 11%;
  left: 30%;

  width: 30%;
  height: auto;

  background: #fffaf0;
  border-radius: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  padding: 1%;

  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 1fr;
}
.sowaWlewo {
  grid-area: sowa;
  width: 100%;
  max-width: 160px;
  justify-self: center;
  margin-left: -180%;
  margin-top: 5%;
}
.swietnie h4 {
  grid-area: title;
  margin: 0;
  font-size: 1.2rem;
}

.opis {
  grid-area: text;
  margin: 14px 0;
}
.opis p {
  font-size: 1.1rem;
}

/* ПК */
@media (min-width: 1201px) {
}

/* Планшет */
@media (max-width: 1200px) {
}

.metro-mobile {
  display: none;
}
/* Телефон */
@media (max-width: 768px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .metro-screen{
        display:none;
    }

    .metro-mobile{
        display:block;
    }

  .mobile-step {
    display: none;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    background: url(images/fonEkran2.png);
    background-size: cover;
  }

  .next-btn {
    margin-top: 25px;
    padding: 14px 28px;
    border: none;
    border-radius: 20px;
    background: #6f3ec4;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .mobile-step.active {
    display: block;
  }
  .swietnie {
    position: static;

    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .metro-help {
    position: static;
    width: 100%;
  }
  .district-sidebar {
    position: static;

    width: 100%;

    overflow-x: auto;

    display: flex;
    gap: 10px;
  }
  .stations-panel {
    position: static;

    width: 100%;

    overflow-x: auto;
  }
}
